@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important;
}

.brand-logo,
h2 {
    font-family: 'Grand Hotel', cursive;
}

.auth-card {
    padding: 20px;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    /* top and bottom margin will be 20px and left and right will be auto means in the centre */
}

.mycard {
    margin-top: 20px;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(18, 5, 204) !important;
    box-shadow: 0 1px 0 0 rgb(14, 5, 142) !important;
}

.centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.item {
    width: 30%;
    margin-bottom: 14px;
}

.home-card {
    max-width: 900px;
    height: max-content;
    margin: 35px auto;
}


#toast-container {
    top: 30px !important;
    left: auto !important;
    right: 20% !important;
    /* background-color: red !important; */
}